<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <img src="https://i.pinimg.com/564x/fb/c2/54/fbc2549515387e55b53fdbbd29c371fb.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Chocolate do Venom <br><br/>
        </ion-card-title>
        <h4>Categoria: Doces</h4>
        <p>
          Descrição: Com muito prazer o poderoso Venom resolveu dividir sua receita de chocolate por um preço justo conosco, com isso iremos vender a mercadoria para mostrar ao mundo o que é poder de verdade.
        </p>
        <div class="ion-padding">
          <ion-button (click)="fazerPedido()" expand="block" class="ion-no-margin">Pedir</ion-button>
        </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://64.media.tumblr.com/7a6d2937afb167682c3a960670b49d44/tumblr_p8f60ggtRV1uzwliqo2_1280.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Spider Miojo <br><br/>
        </ion-card-title>
        <h4>Categoria: Massas</h4>
        <p>
          Homem Aranha largou um pouco de lado a teia para dividir sua felicidade com seu famoso Miojão para toda a vizinhança. Com isso iremos fornecer este produto como oferta de paz a todos os terráqueos.
        </p>
        <div class="ion-padding">
          <ion-button (click)="fazerPedido()" expand="block" class="ion-no-margin">Pedir</ion-button>
        </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/originals/29/f9/fd/29f9fdcfefddf3ee0576a7a08df0b587.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Tacos do Deadpool <br><br/>
        </ion-card-title>
        <h4>Categoria: Salgados</h4>
        <p>
          Com todo meu trabalho para eliminar alvos eu preciso parar para comer, certo? Por isso trouxe minha receita de Tacos para dividir com meus melhores amigos imaginarios, aceite de bom grado!
        </p>
        <div class="ion-padding">
          <ion-button (click)="fazerPedido()" expand="block" class="ion-no-margin">Pedir</ion-button>
        </div>
    </ion-card-content>
  </ion-card>



</ion-content>
